---
import type { TableNode } from '../types.js'
import type { AstroComponentFactory } from 'astro/runtime/server'
import { buildTableModel } from './tableModel.js'

type Props = {
  node: TableNode
  RichTextRenderer: AstroComponentFactory
  BlockRenderer?: AstroComponentFactory
  UploadRenderer?: AstroComponentFactory
}

const { node, RichTextRenderer, BlockRenderer, UploadRenderer } = Astro.props

const { headRows, bodyRows } = buildTableModel(node)
---

<table>
  {
    headRows.length > 0 && (
      <thead>
        {headRows.map((row) => (
          <tr>
            {row.cells.map((cell) => {
              const CellTag = cell.tag
              return (
                <CellTag colspan={cell.colSpan} rowspan={cell.rowSpan}>
                  <RichTextRenderer
                    nodes={cell.children}
                    BlockRenderer={BlockRenderer}
                    UploadRenderer={UploadRenderer}
                  />
                </CellTag>
              )
            })}
          </tr>
        ))}
      </thead>
    )
  }

  {
    bodyRows.length > 0 && (
      <tbody>
        {bodyRows.map((row) => (
          <tr>
            {row.cells.map((cell) => {
              const CellTag = cell.tag
              return (
                <CellTag colspan={cell.colSpan} rowspan={cell.rowSpan}>
                  <RichTextRenderer
                    nodes={cell.children}
                    BlockRenderer={BlockRenderer}
                    UploadRenderer={UploadRenderer}
                  />
                </CellTag>
              )
            })}
          </tr>
        ))}
      </tbody>
    )
  }
</table>
