---
import type { LexicalNode } from '../types.js'
import type { AstroComponentFactory } from 'astro/runtime/server'

type TableNode = LexicalNode & {
  children: Array<{
    children: Array<{
      children: LexicalNode[]
    }>
  }>
}

type Props = {
  node: TableNode
  RichTextRenderer: AstroComponentFactory
  BlockRenderer?: AstroComponentFactory
  UploadRenderer?: AstroComponentFactory
}

const { node, RichTextRenderer, BlockRenderer, UploadRenderer } = Astro.props
---

<div class="overflow-x-auto">
  <table>
    {
      node.children?.at(0) && (
        <thead>
          <tr>
            {node.children.at(0)?.children.map((cell) => (
              <th class="text-left">
                <RichTextRenderer
                  nodes={cell.children}
                  BlockRenderer={BlockRenderer}
                  UploadRenderer={UploadRenderer}
                />
              </th>
            ))}
          </tr>
        </thead>
      )
    }

    <tbody>
      {
        node.children?.slice(1).map((row) => {
          return (
            <tr class="even:bg-gray-50">
              {row.children.map((cell) => (
                <td class="min-w-32 sm:min-w-0">
                  <RichTextRenderer
                    nodes={cell.children}
                    BlockRenderer={BlockRenderer}
                    UploadRenderer={UploadRenderer}
                  />
                </td>
              ))}
            </tr>
          )
        })
      }
    </tbody>
  </table>
</div>
