---
import type { AstroComponentFactory } from 'astro/runtime/server'
import type { LexicalNode, SlugifyHeadingId } from './types.js'
import RichTextNodes from './nodes/RichTextNodes.astro'

type Props = {
  nodes: LexicalNode[]
  class?: string
  BlockRenderer?: AstroComponentFactory
  UploadRenderer?: AstroComponentFactory
  slugifyHeadingId?: SlugifyHeadingId | false
}

const { nodes, class: className, BlockRenderer, UploadRenderer, slugifyHeadingId } = Astro.props
---

{
  className ? (
    <div class={className}>
      <RichTextNodes nodes={nodes} BlockRenderer={BlockRenderer} UploadRenderer={UploadRenderer} slugifyHeadingId={slugifyHeadingId} />
    </div>
  ) : (
    <RichTextNodes nodes={nodes} BlockRenderer={BlockRenderer} UploadRenderer={UploadRenderer} slugifyHeadingId={slugifyHeadingId} />
  )
}
